@page
@using Microsoft.AspNetCore.WebUtilities
@model OpenIddictDemo.Provider.Pages.Account.ConsentModel
@{
    var returnUrl = Model.ReturnUrl ?? "";
    var uri = new Uri("https://localhost" + returnUrl); // Base URI giả
    var parameters = QueryHelpers.ParseQuery(uri.Query);
}

<form asp-controller="Authorization" asp-action="Authorize" method="post">
    @foreach (var parameter in parameters)
    {
        foreach (var value in parameter.Value)
        {
            <input type="hidden" name="@parameter.Key" value="@value" />
        }
    }

    <input class="btn btn-lg btn-success" name="submit.Accept" type="submit" value="Yes" />
    <input class="btn btn-lg btn-danger" name="submit.Deny" type="submit" value="No" />
</form>