@page
@model OpenIddictDemo.Provider.Pages.Account.RegisterModel
@{
  ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post">
  <div>
    <label asp-for="Input.Email"></label>
    <input asp-for="Input.Email" value="admin@example.com"/>
    <span asp-validation-for="Input.Email"></span>
  </div>
  <div>
    <label asp-for="Input.Password"></label>
    <input asp-for="Input.Password" type="password" value="Admin@123456789"/>
    <span asp-validation-for="Input.Password"></span>
  </div>
  <div>
    <label asp-for="Input.ConfirmPassword"></label>
    <input asp-for="Input.ConfirmPassword" type="password" value="Admin@123456789"/>
    <span asp-validation-for="Input.ConfirmPassword"></span>
  </div>
  <button type="submit">Register</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}