@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider


@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // 🔴 Đặt breakpoint tại đây
        var name = user.Identity?.Name;

        Console.WriteLine($"Debug: {name}");
    }
}



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.Identity.Name!</span>
                    <form method="post" action="/logout" onsubmit="setReturnUrl(this)">
                        <input type="hidden" name="returnUrl" />
                        <button type="submit" class="btn btn-link">Sign out</button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    @* <a class="btn btn-link" href="/login">Sign in</a> *@
                    <form method="get" action="/login" onsubmit="setReturnUrl(this)">
                        <input type="hidden" name="returnUrl" />
                        <button type="submit" class="btn btn-link">Sign in</button>
                    </form>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    function setReturnUrl(form) {
        form.returnUrl.value = window.location.pathname + window.location.search;
    }
</script>